<p id="notice"><%= notice %></p>

<p>
  <strong>Ordertype:</strong>
  <%= @ordertype.ordertype %>
</p>

<%= link_to 'Edit', edit_ordertype_path(@ordertype) %> |
<%= link_to 'Back', ordertypes_path %>
