<div class="wrapper">

  <div class="content">
    <h1>Finding a needle in a haystack isn't hard when every straw is computerized.</h1>
    <p>Rorschach would say you have a hard time relating to others. Rorschach would say you have a hard time relating to others. I'm Dexter, and I'm not sure what I am. You look…perfect.</p>
    <p>I feel like a jigsaw puzzle missing a piece. And I'm not even sure what the picture should be. Watching ice melt. This is fun. Watching ice melt. This is fun. <strong> I will not kill my sister.</strong> <em> I will not kill my sister.</em> I will not kill my sister.</p>
    <h2>You're a killer. I catch killers.</h2>
    <p>Cops, another community I'm not part of. This man is a knight in shining armor. Hello, Dexter Morgan. God created pudding, and then he rested. Like a sloth. I can do that.</p>
    <ol>
      <li>I'm generally confused most of the time.</li><li>I'm really more an apartment person.</li><li>Tell him time is of the essence.</li>
    </ol>

    <h3>I'm going to tell you something that I've never told anyone before.</h3>
    <p>He taught me a code. To survive. I will not kill my sister. I will not kill my sister. I will not kill my sister. I have a dark side, too. Rorschach would say you have a hard time relating to others. This man is a knight in shining armor.</p>
    <ul>
      <li>I will not kill my sister. I will not kill my sister. I will not kill my sister.</li><li>Tonight's the night. And it's going to happen again and again. It has to happen.</li><li>This man is a knight in shining armor.</li>
    </ul>

    <p>I feel like a jigsaw puzzle missing a piece. And I'm not even sure what the picture should be. Makes me a … scientist. I'm thinking two circus clowns dancing. You? Rorschach would say you have a hard time relating to others.</p>
    <p>You look…perfect. You're a killer. I catch killers. I'm really more an apartment person. Under normal circumstances, I'd take that as a compliment. I'm not the monster he wants me to be. So I'm neither man nor beast. I'm something new entirely. With my own set of rules. I'm Dexter. Boo.</p>
    <p>You all right, Dexter? I'm real proud of you for coming, bro. I know you hate funerals. I'm thinking two circus clowns dancing. You? I love Halloween. The one time of year when everyone wears a mask … not just me.</p>
    <p>Makes me a … scientist. He taught me a code. To survive. I'm really more an apartment person. I'm real proud of you for coming, bro. I know you hate funerals. Under normal circumstances, I'd take that as a compliment.</p>
    <p>I'm real proud of you for coming, bro. I know you hate funerals. I'm Dexter, and I'm not sure what I am. I'm real proud of you for coming, bro. I know you hate funerals. Cops, another community I'm not part of.</p>
    <p>I'm thinking two circus clowns dancing. You? I have a dark side, too. I'm a sociopath; there's not much he can do for me. I will not kill my sister. I will not kill my sister. I will not kill my sister.</p>
    <p>Makes me a … scientist. Like a sloth. I can do that. Watching ice melt. This is fun. I'm Dexter, and I'm not sure what I am.</p>
    <p>Tell him time is of the essence. Hello, Dexter Morgan. I'm thinking two circus clowns dancing. You? I like seafood.</p>
    <p>Makes me a … scientist. He taught me a code. To survive. Finding a needle in a haystack isn't hard when every straw is computerized. I've lived in darkness a long time. Over the years my eyes adjusted until the dark became my world and I could see.</p>
    <p>I'm partial to air conditioning. You're a killer. I catch killers. Makes me a … scientist. I'm thinking two circus clowns dancing. You? You all right, Dexter? Only you could make those words cute.</p>
    <p>I'm generally confused most of the time. I'm partial to air conditioning. I'm thinking two circus clowns dancing. You? I have a dark side, too. I'm really more an apartment person.</p>
  </div>

  <div class="block-a">Sidebar content</div>

</div>