<div class="about-grid">

  <div class="about-content">
    <h1>Meh.</h1>
    <p>OK, if everyone's finished being stupid. Bite my shiny metal ass. Yes. You gave me a dollar and some candy. And
      then the battle's not so bad? Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at
      it?</p>
    <p><strong>Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually
      wriggling through them.</strong> <em> How much did you make me?</em> Spare me your space age technobabble, Attila
      the Hun!</p>
    <h2>You know the worst thing about being a slave? They make you work, but they don't pay you or let you go.</h2>
    <p>No. We're on the top. Hey, tell me something. You've got all this money. How come you always dress like you're
      doing your laundry? I am Singing Wind, Chief of the Martians. And I'd do it again! And perhaps a third time! But
      that would be it.</p>
    <ol>
      <li>You wouldn't. Ask anyway!</li>
      <li>I'm sure those windmills will keep them cool.</li>
      <li>Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters
        are dating humans!
      </li>
    </ol>
    <h3>Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot
      Devil. And by "metaphorically", I mean get your coat.</h3>
    <p>You, minion. Lift my arm. AFTER HIM! I haven't felt much of anything since my guinea pig died. I was all of
      history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny! And until then, I can never die?</p>
    <ul>
      <li>Stop it, stop it. It's fine. I will 'destroy' you!</li>
      <li>Bender, hurry! This fuel's expensive! Also, we're dying!</li>
      <li>Can I use the gun?</li>
    </ul>
    <p>Daddy Bender, we're hungry. Or a guy who burns down a bar for the insurance money! We'll go deliver this crate
      like professionals, and then we'll go home. And I'd do it again! And perhaps a third time! But that would be
      it.</p>
    <p>Have you ever tried just turning off the TV, sitting down with your children, and hitting them? Switzerland is
      small and neutral! We are more like Germany, ambitious and misunderstood! Why not indeed! Wow! A superpowers drug
      you can just rub onto your skin? You'd think it would be something you'd have to freebase.</p>
    <p>I found what I need. And it's not friends, it's things. Have you ever tried just turning off the TV, sitting down
      with your children, and hitting them? I am the man with no name, Zapp Brannigan! For example, if you killed your
      grandfather, you'd cease to exist!</p>
    <p>You've killed me! Oh, you've killed me! Is that a cooking show? One hundred dollars. This opera's as lousy as it
      is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me
      feel angry!</p>
    <p>I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? Do a flip!
      I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise
      about our mamas.</p>
    <p>I'll tell them you went down prying the wedding ring off his cold, dead finger. You are the last hope of the
      universe. Well, then good news! It's a suppository. No, just a regular mistake. Good news, everyone! I've taught
      the toaster to feel love!</p>
    <p>Ask her how her day was. Fry! Stay back! He's too powerful! And yet you haven't said what I told you to say! How
      can any of us trust you? A sexy mistake.</p>
    <p>I am Singing Wind, Chief of the Martians. But I've never been to the moon! Oh, all right, I am. But if anything
      happens to me, tell them I died robbing some old man. Now Fry, it's been a few years since medical school, so
      remind me. Disemboweling in your species: fatal or non-fatal?</p>
    <p>Soon enough. Look, last night was a mistake. Why would a robot need to drink? When the lights go out, it's
      nobody's business what goes on between two consenting adults. Bender, you risked your life to save me!</p>
    <p>Soon enough. No! The cat shelter's on to me. I'm sure those windmills will keep them cool. Quite possible. We
      live long and are celebrated poopers. Fetal stemcells, aren't those controversial?</p>
    <p>And then the battle's not so bad? If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right. A
      true inspiration for the children. Switzerland is small and neutral! We are more like Germany, ambitious and
      misunderstood!</p></div>
  <div class="about-sidebar">Sidebar content</div>
</div>