<div class="wrapper">
  <div class="contact-content">
    <h1>You know how I sometimes have really brilliant ideas?</h1>
    <p>Sorry, checking all the water in this area; there's an escaped fish. They're not aliens, they're Earth…liens!
      Saving the world with meals on wheels. Sorry, checking all the water in this area; there's an escaped fish.</p>
    <p>I hate yogurt. It's just stuff with bits in.
      <strong> You know how I sometimes have really brilliant ideas?</strong>
      <em> Sorry, checking all the water in this area; there's an escaped fish.</em> Saving the world with meals on
      wheels.</p>
    <h2>You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make
      you feel better?</h2>
    <p>Did I mention we have comfy chairs? I am the Doctor, and you are the Daleks! All I've got to do is pass as an
      ordinary human being. Simple. What could possibly go wrong? Heh-haa! Super squeaky bum time!</p>
    <ol>
      <li>Sorry, checking all the water in this area; there's an escaped fish.</li>
      <li>I am the last of my species, and I know how that weighs on the heart so don't lie to me!</li>
      <li>Sorry, checking all the water in this area; there's an escaped fish.</li>
    </ol>
    <h3>You've swallowed a planet!</h3>
    <p>Saving the world with meals on wheels. I hate yogurt. It's just stuff with bits in. Stop talking, brain thinking.
      Hush. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing
      myself.</p>
    <ul>
      <li>You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make
        you feel better?
      </li>
      <li>Did I mention we have comfy chairs?</li>
      <li>You've swallowed a planet!</li>
    </ul>
    <p>The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften
      the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant. I
      hate yogurt. It's just stuff with bits in.</p>
    <p>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a
      spaceship. You know how I sometimes have really brilliant ideas? Father Christmas. Santa Claus. Or as I've always
      known him: Jeff.</p>
    <p>It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! Annihilate? No. No violence. I won't
      stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically
      meant beat them in a football match, didn't you?</p>
    <p>The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften
      the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.
      They're not aliens, they're Earth…liens!</p>
    <p>I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know
      why. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong?</p>
    <p>No… It's a thing; it's like a plan, but with more greatness. Stop talking, brain thinking. Hush. You hit me with
      a cricket bat. Sorry, checking all the water in this area; there's an escaped fish.</p>
    <p>You know how I sometimes have really brilliant ideas? They're not aliens, they're Earth…liens! I'm nobody's taxi
      service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</p>
    <p>It's a fez. I wear a fez now. Fezes are cool. You hit me with a cricket bat. It's art! A statement on modern
      society, 'Oh Ain't Modern Society Awful?'! No… It's a thing; it's like a plan, but with more greatness.</p>
    <p>Aw, you're all Mr. Grumpy Face today. I'm nobody's taxi service; I'm not gonna be there to catch you every time
      you feel like jumping out of a spaceship. *Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell
      me what normal blokes do!</p>
    <p>Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary
      human being. Simple. What could possibly go wrong? They're not aliens, they're Earth…liens!</p>
    <p>I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself.
      It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! The way I see it, every life is a pile
      of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad
      things don't necessarily spoil the good things and make them unimportant.</p>
  </div>
  <div class="contact-sidebar">Sidebar content</div>
</div>