
<div style="text-align:center;"><h1>chiTunes</div></h1>
<div style="text-align:center;"><h1>Site under construction. Please check back later, we will be launching soon.</div></h1>
<h2>Click
  <%= link_to "here", home_about_path %>
  for more information about who we are and what we do.
</h2>
<h2>
  <%= link_to "How to contact us", home_contact_path %>
</h2>


