<p id="notice"><%= notice %></p>

<p>
  <strong>Itemtypedescription:</strong>
  <%= @itemtype.itemtypedescription %>
</p>

<%= link_to 'Edit', edit_itemtype_path(@itemtype) %> |
<%= link_to 'Back', itemtypes_path %>
