/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* unvisited link */
a:link {
    color: #fff;
}

/* visited link */
a:visited {
    color: #fff;
}

/* mouse over link */
a:hover {
    color: #fff;
}

/* selected link */
a:active {
    color: #fff;
}

/* Header styling */
.header-grid {
    display: grid;
    grid-template-columns: 160px 160px auto auto auto auto auto auto auto;
    grid-template-rows: 20px 20px 20px;
    grid-gap: 2px;
    background-color: #fff;
    padding: 2px;
    margin-bottom: 8px;
}

.header-grid > div {
    border-radius: 5px;
    text-align: center;
    background-color: #444;
    color: #fff;
}
.header-grid > img {
    max-height: 40px;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.search {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*Body styling*/
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
}

h1, p {
    margin: 0 0 1em 0;
}
/* Seperated each of these in the css to avoid a bug where when using multiple selectors for a property it only
applies that property to the last selector */
/* This does give us some per-page flexibility here too, so... meh, again... ¯\_(ツ)_/¯ */
.contact-grid {
    max-width: 100%;
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
    grid-template-columns: 1fr 4.2fr;
    grid-auto-rows: minmax(150px, auto);
}
.about-grid {
    max-width: 100%;
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
    grid-template-columns: 1fr 4.2fr;
    grid-auto-rows: minmax(150px, auto);
}
.index-grid {
    max-width: 100%;
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
    grid-template-columns: 1fr 4.2fr;
    grid-auto-rows: minmax(150px, auto);
}

.contact-sidebar, .index-sidebar, .about-sidebar {
    grid-column: 1;
    grid-row: 1 / 7;
    grid-gap: 50px;
}

.contact-content, .index-content, .about-content {
    grid-column: 2;
    grid-row: 1 / 7;
}
/* Seperated each of these in the css to avoid a bug where when using multiple selectors for a property it only
applies that property to the last selector */
/* This does give us some per-page flexibility here too, so... meh, again... ¯\_(ツ)_/¯ */
.contact-grid > * {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    width: auto;
}
.about-grid > * {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    width: auto;
}
.index-grid > * {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    width: auto;
}
/*Footer formatting*/
.footer-grid {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: max-content;
    grid-gap: 2px;
    background-color: #fff;
    padding: 2px;
    margin-top: 8px;
}
.footer-grid > div {
    border-radius: 5px;
    text-align: center;
    background-color: #444;
    color: #fff;
}

/*
.footerlogo {
   grid-column-start: 1;
   grid-column-end: 2;
}

.copyright {
   grid-column-start: 2;
   grid-column-end: 3;
}*/
