<div class="footer-grid">
  <div class="footerlogo"><%= link_to "small LOGO & link home", home_index_path %></div>
  <div class="copyright"><br><%= link_to "help", home_help_path %>&nbsp;&nbsp;&nbsp;<%= link_to "privacy policy ", home_privacy_path %>&nbsp;&nbsp;&nbsp;<%= link_to "copyright & legal stuff", home_legal_path %></div>
</div>