<div class="header-grid">
  <div class="logo"><br><%= link_to "LOGO, banner, & link home", home_index_path %></div>
  <div class="about"><%= link_to "About chiTunes", home_about_path %></div>
  <div class="contact"><%= link_to "How to contact us", home_contact_path %></div>
  <div class="contact">link to Artists</div>
  <div class="contact">link to Releases</div>
  <div class="contact">link to ?</div>
  <div class="contact">link to ?</div>
  <div class="contact">link to profile</div>
  <div class="search">Search box goes here</div>
  <div class="feature1">login</div>
  <div class="feature2">Sign up</div>
  <div class="feature3">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
</div>
