<div style="text-align:center;"><h1>chiTunes</div></h1>
<div style="text-align:center;"><h1>Site under construction. Please check back later, we will be launching soon.</div></h1>
<br>
<%= link_to "index", home_index_path %> <%= link_to "about", home_about_path %> <%= link_to "How to contact us", home_contact_path %>