<div class="header-grid">
  <div class="logo"><br><%= link_to "LOGO & link home", home_index_path %></div>
  <div class="about"><%= link_to "About chiTunes", home_about_path %></div>
  <div class="contact"><%= link_to "How to contact us", home_contact_path %></div>
  <div class="contact">link to </div>
  <div class="contact">link to </div>
  <div class="contact">link to </div>
  <div class="contact">link to </div>
  <div class="contact">link to </div>
  <div class="search">Search box goes here</div>
  <div class="feature1">login</div>
  <div class="feature2">feature item 1</div>
  <div class="feature3">feature item 2</div>
  <div class="feature4">feature item 3</div>
  <div class="feature4">feature item 4</div>
  <div class="feature4">feature item 5</div>
  <div class="feature4">feature item 6</div>
  <div class="feature4">feature item 7</div>
  <div class="feature4">feature item 7</div>
</div>
